node_modules
.DS_Store
dist
dist-ssr
*.local
/.history
/.nyc_output
*.log
/tools/**/source
stats.html
/report/*
*.env

.czrc
.editorconfig
.github
.jscpd.json
.prettierignore
.prettierrc
.release-it.json
.vscode
mv_t.sh
